* {
    /* margin: 0; */
    padding: 0;
    border: 0;
}

body{
    background-image: url("./img/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    background-position: center;
    background-size: cover;
    margin-top: 13em;
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    width: 70em;
    height: 100vh;
    margin: auto;
    align-items: center;
}

.box{
    width: 35em;
}

.box1{
    color: white;
    padding: 0 3em;
}

.box1 h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.text-padding {
    padding: 0 0 0 1em;
    width: 95%;
}

.box2a{
    background-color:hsl(249, 10%, 26%);
    line-height: 5em;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 2em;
    align-items: center;
}

.box2b{
    background-color:whitesmoke;
    border-radius: 4px;
    text-align: center;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    width: 100%;
    height: 5em;
    margin: 1em auto;
    /* padding: 0 0.5em; */
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=submit]{
    background-color: hsl(246, 25%, 77%);
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  span{
    color: hsl(0, 100%, 74%);
  }

  @media screen and (max-width: 767px) {
    main{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .box{
        width: 100%;
    }
    .box1{
        padding: 0;
        margin-bottom: 5em;
    }
    .box2b{
        width: auto;
        background-color: hsl(0, 100%, 74%);
    }
    span{
        color: rgb(255, 7, 7);
      }
  }